/* ここから下に記載していく */
body{
.top {
	height: 100px;
	width: 1300px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.title{
	width: 650px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.menu{
	width: 650px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.about{
	font-size: 20px;
	padding-top: 35px;
}
.course{
	font-size: 20px;
	padding-top: 35px;
}
.news{
	font-size: 20px;
	padding-top: 35px;
}
.access{
	font-size: 20px;
	padding-top: 35px;
}
.contact{
	font-size: 20px;
	padding-top: 35px;
}
/* ここから写真上の記載 */
.picture{
	background-image: url(/img/mainbg.png);
	width: 1300px;
	margin: 0 auto;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.picture h1{
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 130px;
	display: none;
	text-shadow: 2px 2px 3px; 
}
.picture p{
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 60px;
	padding-top: 30px;
	text-shadow: 2px 2px 3px; 
}
/* ここからABOUT */
.aboutdayo{
	height: 400px;
	width: 1300px;
	margin:0 auto;
}
.aboutdayo h1{
	font-size: 30px;
	color: gold;
	font-weight: 900;
	text-align: center;
	line-height: 60px;
}
.aboutdayo h2{
	text-align: center;
	line-height: 30px;
}
.aboutdayo h3{
	text-align: center;
	line-height: 60px;
}
.aboutdayo p{
	text-align: center;
}
.aboutdayo h4{
	text-align: center;
	line-height: 80px;
}
/* ここから写真４枚 */
.photo4{
	width: 1300px;
	margin: 0 auto;
	height: 255px;
	display: flex;
	justify-content: space-between;
}
/* ここからCOURSE */
.coursedayo{
	height: 200px;
	width: 1300px;
	margin: 0 auto;
}
.coursedayo h1{
	font-size: 30px;
	margin-top: 30px;
	font-weight: 900;
	text-align: center;
	line-height: 60px;
	color: gold;
}
.coursedayo p{
	text-align: center;
	line-height: 30px;
}
/* ここからPR */
.PR1{
	width: 1300px;
	margin: 0 auto;
	height: 400px;
	display: flex;
	justify-content: flex-end;
}
.PR1_1{
	width: 650px;
	margin: 0 auto;
	height: 400px;
}
.PR1_1 img{
	width: 100%;
	object-fit: cover;
}
.PR1_2{
	background-color: lightgray;
	width: 650px;
	margin: 0 auto;
	height: 400px;
}
.PR1_2 h1{
	font-size: 20px;
	text-align: left;
	padding-top: 110px;
	padding-left: 50px;
}
.PR1_2 p{
	font-size: 13px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 150px;
	line-height: 30px;
} 
.PR2{
	width: 1300px;
	margin: 0 auto;
	height: 400px;
	display: flex;
	justify-content: flex-end;
}
.PR2_1{
	background-color: lightgray;
	width: 650px;
	margin: 0 auto;
	height: 400px;
}
.PR2_1 h1{
	font-size: 20px;
	text-align: right;
	padding-top: 110px;
	padding-right: 240px;
}
.PR2_1 p{
	font-size: 13px;
	padding-top: 40px;
	padding-right: 50px;
	padding-left: 150px;
	line-height: 30px;
}
.PR2_2{
	width: 650px;
	margin: 0 auto;
	height: 400px;
}
.PR2_2 img{
	width: 100%;
	object-fit: cover;
}
.PR3{
	width: 1300px;
	margin: 0 auto;
	height: 400px;
	display: flex;
	justify-content: flex-end;
}
.PR3_1{
	width: 650px;
	margin: 0 auto;
	height: 400px;
}
.PR3_1 img{
	width: 100%;
	object-fit: cover;
	height: 400px;
}
.PR3_2{
	background-color: lightgray;
	width: 650px;
	margin: 0 auto;
	height: 400px;
}
.PR3_2 h1{
	font-size: 20px;
	text-align: left;
	padding-top: 110px;
	padding-left: 50px;
}
.PR3_2 p{
	font-size: 13px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 150px;
	line-height: 30px;
} 
/* ここからnews */
.newsdayo{
	height: 100px;
    width: 1300px;
    margin:0 auto;
}
.newsdayo h1{
	text-align: center;
	color: gold;
	font-weight: 900;
	font-size: 30px;
	line-height: 30px;
	margin-top: 60px;
}
.newsdayo p{
	text-align: center;
    font-size: 15px;
    line-height: 50px;
}
/* ここから写真３枚 */
.pizza{
	height: 300px;
    width: 960px;
    margin:0 auto;
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}
.pizza1{
	height: 300px;
	width: 300px;
	margin:0 auto;
	margin-bottom: 20px;
}
.pizza1:hover{
	color: green;
}
.pizza1 p{
	text-align: center;
}
.pizza1 img:hover{
	opacity:0.5 ;
}
/* ここからmore */
.more{
	margin-top: 30px;
	background-color:gold;
	width: 300px;
	margin:0 auto;
	height: 60px;
	margin-bottom: 20px;
	text-decoration：none;
  }
  .more:hover{
	background-color:green
  }
  .more h2{
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	color: white
  }
  /* ここからACCESS */
 .accessdayo{
	background-color:#eee;
	width: 1300px;
	margin:0 auto;
	height: 500px;
}
  .accessdetail h1{
	text-align: center;
    font-size: 30px;
    padding-top: 30px;
    color: gold;
    font-weight: 900;
  }
  .accessdetail p{
	text-align: center;
    line-height: 60px;
  }
  .map{
	width:1300px;
    margin:0 auto;
    height: 350px;
    display: flex;
    justify-content: space-around
	margin:0 auto;
  }
  .map img{
	width:auto;
    height: 300px;
    object-fit: cover;
  }
  .adress h2{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
  }
  .adress p{
	padding-top: 20px;
    text-align: center;
    line-height: 40px;
  }
/* ここからCONTACT */
.contactdayo h1{
	text-align: center;
	font-size: 30px;
	padding-top: 80px;
	color: gold;
	font-weight: 900;
  }
  .contactdayo h2{
	text-align: center;
	line-height: 40px;
  }
  .contactdayo h3{
	text-align: center;
	padding-top: 30px;
  }
  .contactdayo p{
	text-align: center;
	line-height: 20px;
  }
  /* ここからフォーム */
  